<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SplashScreen</title>
    <link rel="stylesheet" href="../static/styles/splash.css">
    <link rel="stylesheet" href="../node_modules/vazir-font/dist/font-face.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body class="bg-dark">
    <div class="container text-center centered">
        <div class="row">
            <div class="col">
                <img src="../static/images/icon.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span class="h3 blink">خــنیا</span>
            </div>
        </div>
    </div>
    <div class="centered">
    </div>
</body>
</html>